/* 
The squaere should be white

*/

body {
    text-align: center;
    background-image: url(../img/bg.jpg);
}

body div.white-box {
    background-color: rgba(255, 255, 255, 0.228);
    border-radius: 7%;
    padding: 20px;
    margin: auto;
    display: inline-block;
    box-shadow: 10px 12px 27px 0px rgba(0, 0, 0, 0.41);
}

h1 {
    margin: 0;
    margin-bottom: 10px;
    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.445);
    font-family: Georgia, serif;
    font-size: 45px;
    background: linear-gradient(#eee, rgb(252, 109, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 6px;
}

.lose {
    background: linear-gradient(#eee, rgb(252, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.win {
    background: linear-gradient(#eee, rgb(47, 194, 47));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button3 {
    margin: 12px 10px;
    width: 70px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    /* margin-top: 12px; */
    border-radius: 10%;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #c68700;
    text-align: center;
    transition: all 0.2s;
    box-shadow: 0px 10px 14px -7px #303030;
}

.button3:hover {
    background-color: #ffae00;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.stats-row {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(192, 192, 192);
    margin-bottom: 10px;
    padding: 10px 0px;
    border-radius: 15px;
    /* width: 550px; */
}

.lives {
    letter-spacing: 2px;
    border-radius: 10%;
    text-align: center;
    width: 85px;
}

.safe-click button {
    background-color: rgba(255, 255, 255, 0);
    border: solid rgba(245, 245, 245, 0.557) 1px;
    border-radius: 7%;
    background-color: #fff;
    /* width: 40px; */
    height: 40px;
}

.smile button {
    background-color: rgba(255, 255, 255, 0);
    border: solid rgba(245, 245, 245, 0.557) 1px;
    border-radius: 10%;
    background-color: #fff;
    width: 40px;
    height: 40px;
}

.timer {
    border-radius: 10%;
    width: 85px;
    text-align: center;
    display: inline-block;
    color: #c68700;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-size: 25px;
    letter-spacing: 2px;
}

table {
    margin: auto;
    border-color: rgb(23, 38, 152);
    border: 0px solid rgba(244, 244, 244, 0.365);
    /* border-radius: 7%; */
}

button {
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    font-size: 20px;
    transition: 0.5s;
    /* border-radius: 7%; */
}

button:hover {
    background-color: lightsalmon;
}

td {
    color: ivory;
    font-size: 20px;
    background-color: rgb(108, 107, 107);
    border-color: rgb(23, 38, 152);
    border: 1px solid rgba(244, 244, 244, 0.365);
    /* border-radius: 7%; */
    width: 40px;
    height: 40px;
    padding: 0px;
    transition: .5s;
}

.points {
    color: ivory;
}

.points td {
    width: 70px;
    background-color: rgba(255, 255, 255, 0);
}

.points td:first-child {
    width: 10px;
    background-color: rgba(255, 255, 255, 0);
}