/* 
The squaere should be white

*/

body {
    text-align: center;
    background-image: url(../img/bg.jpg);
}

body div.white-box {
    background-color: rgba(255, 255, 255, 0.228);
    border-radius: 7%;
    padding: 20px;
    margin: auto;
    display: inline-block;
    box-shadow: 10px 12px 27px 0px rgba(0, 0, 0, 0.41);
}

h1 {
    margin: 0;
    margin-bottom: 10px;
    -webkit-text-stroke: 1px black;
    font-family: Georgia, serif;
    font-size: 45px;
    background: linear-gradient(#eee, rgb(252, 109, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 6px;
}

.lose {
    background: linear-gradient(#eee, rgb(252, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.win {
    background: linear-gradient(#eee, rgb(47, 194, 47));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button3 {
    margin: 12px 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    /* margin-top: 12px; */
    border-radius: 10%;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #c68700;
    text-align: center;
    transition: all 0.2s;
    box-shadow: 0px 10px 14px -7px #303030;
}

.button3:hover {
    background-color: #ffae00;
}

.stats-row {
    /* display: flex; */
    /* justify-content: space-between; */
}

.lives {
    /* flex-grow: 0; */
    /* flex-grow: 0; */
    letter-spacing: 2px;
    border: solid rgba(245, 245, 245, 0.557) 1px;
    border-radius: 10%;
    padding: 4px;
    text-align: center;
    /* display: inline-block; */
    width: 95px;
}

.smile {
    /* flex-grow: 7; */
    /* background-color: #fff; */
}

.smile button {
    background-color: rgba(255, 255, 255, 0);
    border: solid rgba(245, 245, 245, 0.557) 1px;
    border-radius: 10%;
    width: 70px;
    /* display: inline-block; */
    /* margin: auto; */
    /* line-height: 100%; */
}

.timer {
    /* flex-grow: 1; */
    /* flex-grow: 0; */
    /* margin: auto; */
    /* margin-bottom: 10px; */
    border: solid rgba(245, 245, 245, 0.557) 1px;
    border-radius: 10%;
    padding: 4px;
    text-align: center;
    display: inline-block;
    color: #c68700;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-size: 25px;
    letter-spacing: 2px;
}

table {
    margin: auto;
    border-color: rgb(23, 38, 152);
    border: 0px solid rgba(244, 244, 244, 0.365);
    /* border-radius: 7%; */
}

button {
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    font-size: 20px;
    transition: 0.5s;
    /* border-radius: 7%; */
}

button:hover {
    background-color: lightsalmon;
}

td {
    color: ivory;
    font-size: 20px;
    background-color: rgb(108, 107, 107);
    border-color: rgb(23, 38, 152);
    border: 1px solid rgba(244, 244, 244, 0.365);
    /* border-radius: 7%; */
    width: 40px;
    height: 40px;
    padding: 0px;
    transition: .5s;
}